

body {
    background-color: cornflowerblue;
}

img {
    margin-top: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.animated-car {
    animation: run 2s linear forwards;
}
@keyframes run {
        from{
            transform: translateX(-300px);
        }
        to{
            transform: translateX(calc(100vw));
        }
     }